*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
.vscode
kernel/kernel
user/usys.S
.gdbinit
.clang-format
/net/testudp
/net/recvudp
/net/icmptest
/net/testdns
/net/arptest